<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pokedex_Pokémon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pokedex_Pokémon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Pokedex_Pokémon.Properties.Settings>
            <setting name="bug" serializeAs="String">
                <value>https://img.rankedboost.com/wp-content/plugins/pokemon_go_tier_list_usermang/assets/roles/Bug.png</value>
            </setting>
            <setting name="dark" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/0/0e/Dark.png/revision/latest/scale-to-width-down/340?cb=20161013132800</value>
            </setting>
        </Pokedex_Pokémon.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Pokedex_Pokémon.Properties.Settings>
            <setting name="dragon" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/c/c7/Dragon.png/revision/latest/scale-to-width-down/340?cb=20161013132807</value>
            </setting>
            <setting name="eletric" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/2/2f/Electric.png/revision/latest/top-crop/width/220/height/220?cb=20161013132813</value>
            </setting>
            <setting name="fairy" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/4/43/Fairy.png/revision/latest/scale-to-width-down/340?cb=20161013132820</value>
            </setting>
            <setting name="fighting" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/3/30/Fighting.png/revision/latest/top-crop/width/300/height/300?cb=20161013132827</value>
            </setting>
            <setting name="fire" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/3/30/Fire.png/revision/latest/scale-to-width-down/340?cb=20161013132833</value>
            </setting>
            <setting name="flying" serializeAs="String">
                <value>https://img.rankedboost.com/wp-content/uploads/2019/11/Flying-Type-Pokemon-Sword-and-Shield.png</value>
            </setting>
            <setting name="ghost" serializeAs="String">
                <value>https://img.rankedboost.com/wp-content/plugins/pokemon_go_tier_list_usermang/assets/roles/Ghost.png</value>
            </setting>
            <setting name="grass" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/c/c5/Grass.png/revision/latest/top-crop/width/220/height/220?cb=20161013132855</value>
            </setting>
            <setting name="ground" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/0/0b/Rock.png/revision/latest/top-crop/width/300/height/300?cb=20161013133022</value>
            </setting>
            <setting name="ice" serializeAs="String">
                <value>https://cdn.icon-icons.com/icons2/2035/PNG/512/weather_snow_ice_icon_124163.png</value>
            </setting>
            <setting name="normal" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/f/fb/Normal.png/revision/latest/scale-to-width-down/64?cb=20161013132914</value>
            </setting>
            <setting name="poison" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/0/05/Poison.png/revision/latest/top-crop/width/220/height/220?cb=20161013133014</value>
            </setting>
            <setting name="psychic" serializeAs="String">
                <value>https://img.rankedboost.com/wp-content/plugins/pokemon_go_tier_list_usermang/assets/roles/Psychic.png</value>
            </setting>
            <setting name="rock" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/0/0b/Rock.png/revision/latest/top-crop/width/300/height/300?cb=20161013133022</value>
            </setting>
            <setting name="steel" serializeAs="String">
                <value>https://img.rankedboost.com/wp-content/plugins/pokemon_go_tier_list_usermang/assets/roles/Steel.png</value>
            </setting>
            <setting name="water" serializeAs="String">
                <value>https://vignette.wikia.nocookie.net/pokemongo/images/9/9d/Water.png/revision/latest?cb=20161013133222</value>
            </setting>
        </Pokedex_Pokémon.Properties.Settings>
    </userSettings>
</configuration>